{% extends 'base.html' %}
{% load static %}
{% block 'body' %}
  
  
<div class="untree_co-hero overlay" style="background-image: url({% static 'images/depositphotos.jpg' %});">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-12">
          <div class="row ">
            <div class="col-lg-12 text-white text-center ">
              <h1 class="mb-4 heading text-white" data-aos="fade-up" data-aos-delay="100">ENTERPRISES NETWORK SOLUTION</h1>
               
                 
            </div>
             

          </div>

        </div>

      </div> <!-- /.row -->
    </div> <!-- /.container -->
    

  </div> <!-- /.untree_co-hero -->
 



  <div class="services-section">
    <div class="container">
      <div class="col-12">
        <div class="col-lg-12 mb-12 mb-lg-0">

          <div class="section-title mb-3" data-aos="fade-up" data-aos-delay="0">
            <p class="text-primary"><strong> LAN/WAN ASSESSMENT</strong></p>
             <span style="font-size: 1;">We evaluate your network infrastructure and provide you with the functional requirements needed to support your changing business and network initiatives. Those initiatives may include more users, new applications, new services, or new technologies that come with expansions, mergers, and consolidations. Our network assessment can help ensure a successful integration with minimal risks</span> 
              <br><br>
              <p class="text-primary"><strong>  LAN/WAN DESIGN</strong></p>
              <span style="font-size: 1;"> We provide you with a blue print to successfully deploy a new network or modify your current network. Our comprehensive service provides implementation details to integrate new technologies into your existing hardware, software, and applications, and helps you manage that technology after deployment.</span> 
               <br><br>
               <p class="text-primary"><strong>LAN/WAN OPTIMIZATION</strong></p>
              <span style="font-size: 1;"> We review the functional status of your existing network and provide a plan to optimize performance through problem resolution and network fine-tuning. </span> 
               <br><br>
                </div>
                
          </figure>

        </div>
      </div>
    </div>
  </div>

   


   


  <div class="services-section">
    <div class="container"> 
      <div class="row justify-content-center mb-5">
        <h2 text-center><strong>WHAT TO EXPECT</strong></h2>
         
      <div class="row">
        <div class="col-4 col-sm-4 col-md-4 col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="feature">
            <h3><strong>PRICING & PLANS</strong></h3><br>
             
            <p class="text-start text-dark">Training is provided to college Students, Freshers who have passed out as wells as working candidates who want to upgrade their skills.</p><br>
            <a href="#"><button class="btn text-white" style="background-color: darkorange;" >PLAN & SERVICES</button></a>
          </div>
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="feature">
            <h3><strong>BOOK APPOINTMENT</strong></h3>
            <p>Core Java Course will be of 2 months with hands on practicals.
              Advanced Java will be of 1 month with real time projects.
              Java Framework will be of 1 month with web applications project.</p><br>
              <a href="#"><button class="btn text-white" style="background-color: darkorange;">BOOK NOW</button></a>
          </div>
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4" data-aos="fade-up" data-aos-delay="300">
          <div class="feature">
            <h3><strong>CONTACT US</strong></h3><br>
            <p>Trainers allocate assignments to students and the duration will be 10hrs to 15hrs accordingly.</p>
            <span class="uil-phone "></span><br><br>
            <a href="#"><button class="btn text-white" style="background-color: darkorange;">CALL NOW</button></a>
          </div>
        </div>  
      </div>
    </div> <!-- /.container -->
    
        <h2 class="text-center">Our Placement Process</h2><br>
        <div class="row">
          <div class="col-3 col-sm-3 col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <div class="feature">
              <img src="{% static 'images/criteria.jpg' %}">
              <h3>Eligibity Criteria</h3>
            </div>
          </div>
          <div class="col-3 col-sm-3 col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="200">
            <div class="feature">
              <img src="{% static 'images/work.jpg' %}">
              <h3>Placement Training</h3>
               
            </div>
          </div>
          <div class="col-3 col-sm-3 col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="300">
            <div class="feature">
              <img src="{% static 'images/interview.jpg' %}">
              <h3>Inteview Q & A</h3>
            </div>
          </div>  
          <div class="col-3 col-sm-3 col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="300">
            <div class="feature">
              <img src="{% static 'images/portfolio.jpg' %}">
              <h3>Resume Preparation</h3>
            </div>
          </div> 
          <div class="col-3 col-sm-3 col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <div class="feature">
              <img src="{% static 'images/interview-1.jpg' %}">
              <h3>Aptitude Test</h3>
            </div>
          </div>
          <div class="col-3 col-sm-3 col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="200">
            <div class="feature">
              <img src="{% static 'images/hr.jpg' %}">
              <h3>Mock Interviews</h3>
               
            </div>
          </div>
          <div class="col-3 col-sm-3 col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="300">
            <div class="feature">
              <img src="{% static 'images/calendar.jpg' %}">
              <h3>Scheduling Interviews</h3>
            </div>
          </div>  
          <div class="col-3 col-sm-3 col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="300">
            <div class="feature">
              <img src="{% static 'images/work-1.jpg' %}">
              <h3>Job Placement</h3>
            </div>
          </div>   
         
      </div>  

      </div>
  </div> <!-- /.untree_co-section -->
   
            <!-- <div class="accordion-item">
              <h2 class="text-center"><strong>Related Courses</strong></h2>
              <p class="text-center">Have A Look At All Our Related Courses To Learn From Any Location</p>
              <div class="custom-block" data-aos="fade-up" data-aos-delay="100">
                <div class="owl-single owl-carousel no-nav">
                  <div class="testimonial mx-auto">
                    <figure class="img-wrap">
                      <img src="images/java.jpg" alt="Image" class="img-fluid">
                    </figure>
                    <h3 class="name text-black">Java Course In Pune</h3>
                    <blockquote>
                      <p>&ldquo;James Gosling launched Java in 1995, and it has since grown in popularity in the enterprise software and IT industries. It allows programmers to develop programs utilizing Oracle Inc.'s instruction sets. It's a high-level programming language that's utilized in online applications, enterprise applications, and standalone apps.&rdquo;</p>
                    </blockquote>
                  </div>
    
                  <div class="testimonial mx-auto">
                    <figure class="img-wrap">
                      <img src="images/class.jpg" alt="Image" class="img-fluid">
                    </figure>
                    <h3 class="name text-black">Software Testing Course In Pune</h3>
                    <blockquote>
                      <p>&ldquo;SevenMentor provide best software testing course in Pune with 100 percent placement assistance, Enhance your testing skills with expert instructors and practical projects.&rdquo;</p>
                    </blockquote>
                  </div>
    
                  <div class="testimonial mx-auto">
                    <figure class="img-wrap">
                      <img src="images/class.jpg " alt="Image" class="img-fluid">
                    </figure>
                    <h3 class="name text-black">C And C++</h3>
                    <blockquote>
                      <p>&ldquo;C and C++ are the base of all programming languages. C is a procedural programming language. C Language helps students to build the Logic. In C language student will have complete knowledge about Loops, Pattern printing programs, using of conditions Using if-else switch case, function and pointers. pointers are the basics for System-level programming.&rdquo;</p>
                    </blockquote>
                  </div>
    
                </div>
              </div>
            </div> /.col-lg-6 -->
          </div> <!-- /.row -->    
        </div> <!-- /.container -->  
      </div> <!-- /.untree_co-section -->

            </div> <!-- .accordion-item -->

          </div>

        </div>
      </div>
    </div>
  </div> <!-- /.untree_co-section --><br><br><br>

  {% endblock 'body' %}
 
 