{% extends 'base.html' %}
{% load static %}
{% block 'body' %}
  

  <div class="untree_co-hero overlay" style="background-image: url({% static 'images/class.jpg' %});">


    <div class="container">
      <div class="row align-items-center justify-content-center">

        <div class="col-12">

          <div class="row justify-content-center ">

            <div class="col-lg-12 text-center text-white ">
               

              <h1 class="mb-4 heading text-white" data-aos="fade-up" data-aos-delay="100">Online Training</h1><br><br>
              <p >SevenMentor is the best Online training institute in India. Learn online from your comfort zone anytime anywhere and create a glorious future for yourself.</p>

            </div>


          </div>

        </div>

      </div> <!-- /.row -->
    </div> <!-- /.container -->

  </div> <!-- /.untree_co-hero -->


   

  <div class="services-section">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-6 mb-6 mb-lg-6">

          <div class="section-title mb-3" data-aos="fade-up" data-aos-delay="0">
            <h2 class="line-bottom mb-4">Welcome To Learner</h2>
          </div>

          <p data-aos="fade-up" data-aos-delay="100">"Learner" has improvised a tendency to cope with all International Standards within their courses, by engaging both ends of the industry for students, professionals, and individuals to corporate clients. The organization conjointly gives chance within their educational programs to meet the needs with projected desires of quick developing networking trade. “SevenMentor” education techniques allow honing the abilities of the Networking experts from Industries which allow them to be equipped with the updated technology and standards of their operating environment. The group is a center for technical excellence with the kingdom of the art lab centers and a properly exquisite curriculum which gives them exposure in advance and enables them to be specific inside the certification enterprise.

            The organization takes pride in having instructors who are engrossed beyond Fifteen Years in enjoying as a trainer for Various Verticles of Educationon. With that, they offer the foremost Classroom And Online training As per trade standard. And assert as one of the fastest-growing network training institutions in the world and has a monopoly in the region. The Institute’s strong place.</p>

          <p data-aos="fade-up"><a href="#" class="btn btn-primary">Read More</a></p>

        </div>
        <div class="col-lg-6 text-white text-center bg-dark">
          <h2>Request Call Back</h2>
          <label>Full Name*:-</label><br>
          <input type="text" name="full name" placeholder="Enter Full Name *" required><br>
          <label>Email*:-</label><br>
          <input type="text" name="Email" placeholder="Enter Email *" required><br>
          <label>Phone Number*:-</label><br>
          <input type="text" name="Email" placeholder="Enter PhoneNumber *" required><br>
          <label>Choose Branch*</label><br>
          <select style="width: 230px;height: 30px;">
            <option>Online Training</option>
            <option>Offline Training</option>
          </select><br>
          <label>Your Enquiry</label><br>
          <input type="text" name="your enquiry" placeholder="Enter course name"><br><br>
          <button class="btn btn-warning text-light">Submit</button>
          
          </figure>

        </div>
      </div>
    </div>
  </div>



  <div class="services-section">
    <div class="container">
      <div class="col-12">
        <div class="col-lg-12 mb-12 mb-lg-0">

          <div class="section-title mb-3" data-aos="fade-up" data-aos-delay="0">
            <h2 class="text-center"><strong>About Java Training in Pune</strong></h2><br><br>
            <p> SevenMentor institute’s education techniques allow honing the abilities of the best experts from Industries which allow them to be equipped with the updated technology and standards of their operating environment. The group is a center for technical excellence with the kingdom of the art lab centers and properly exquisite curriculum which gives them exposure in advance and enables them to be specific inside the certification enterprise.<br>
                The organisation takes pride in having instructors who are engrossed beyond Fifteen Years in enjoying as a trainer for Cisco devices. With that, they offer the foremost <strong>Online training pune</strong> space as per trade standard. And assert as one of the fastest-growing network training institutions in the world and has a monopoly in the region. <strong>Online training</strong> is a very viable option as it is to learn sitting anywhere in the world.
SevenMentor has recorded enviable benchmarks in their various training courses. We provide various Online technical and non technical courses as<br><br>
and many more other <strong>Online Courses</strong> are added to their list of services over the time. Our <strong>Online Training</strong> Online Training is the best since they are delivered by expert trainers as per your comfort zone and customized time. In our online Training we also provide <strong>online Tutorials, seminars, questionnaires and live projects </strong> which help students to accelerate in their subjects.
At SevenMentor, we believe everybody ought to have the chance to make progress through technology and evolve the talents of near future with assessments, learning methods and courses devised by trained professionals, our platform helps businesses and people set the benchmark experience across the roles speeding up the unleash cycles and building reliable, secure merchandise.”<br>
<br><br><strong>Our Online Training Specialities</strong><br><br> 

Hands on Practical project implementation.
Live Training session with flexible batch timing.
Placement assistance and Course completion certificate.<br><br><br><strong>Advantages of Online Training</strong><br>
SevenMentor commits to build up a benchmark within the Online Training by remodeling the means of coaching which are procured, consumed and measured. We also provide Online Training in Pune to teams. The corporation aims to be the popular coaching vendor to facilitate each individual and company to all their learning essentials and feel gratified in becoming a marketplace for network learners and specialists to scale back the Total value of Learning and Return on Investment (ROI).
              </p><br><br>
               
              </div>

        </div>
      </div>
    </div>
  </div>
  {% endblock 'body' %}


